*{
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-size: 3rem;
    justify-self: center;
    margin: 2rem;
}

h3{
    padding: 5px 0 5px 0;
    font-size: 12px;
}

p{
    font-size: 10px;
}

span{
    background-color: orange;
    border-radius: 5px;
    padding: 3px;
    font-size: 10px;
}

body{
    background-color: green;
}

.containerTee{
    width: 80vw;
    height: auto;
    display: flex;
    justify-self: center;
    justify-content: center;
    background-color: rgb(71, 123, 235);
    border-radius: 20px;
}

.producto{
    width: 20%;
    background-color: aqua;
    margin: 10px 20px 10px 20px;
    border-radius: 20px;
    padding: 10px;
}

.producto img{
    width: 100%;
    height: auto;
}
